Repository hjgraca/OpenHackRepo2021, changes with the owners that CODEOWNERS names for each.
All owners: @Mintio, @juhalehtela, @jukkats, @NikoLams

Update README.md
  apis/poi/README.md
Owners: @Mintio

Update {userID}.js
  apis/userprofile/handlers/user/{userID}.js
Owners: @NikoLams

Update user.js
  apis/userprofile/handlers/user.js
Owners: @NikoLams

Update Swagger2SpringBoot.java
  apis/user-java/src/main/java/io/swagger/Swagger2SpringBoot.java
Owners: @jukkats

Create maven.yml
  .github/workflows/maven.yml
Owners: none

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @jukkats

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @jukkats

Update README.md
  apis/user-java/README.md
Owners: @jukkats

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update UserApiControllerTest.java
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @jukkats

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update UserApiControllerTest.java
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @jukkats

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update UserApiControllerTest.java
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @jukkats

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update UserApiControllerTest.java
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @jukkats

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update UserApiControllerTest.java
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @jukkats

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update UserApiControllerTest.java
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @jukkats

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update maven.yml
  .github/workflows/maven.yml
Owners: none

Update UserApiControllerTest.java
  apis/user-java/src/test/java/UserApiControllerTest.java
Owners: @jukkats

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: none

Update and rename docker-image.yml to user-java-cd.yml
  .github/workflows/user-java-cd.yml
Owners: none

Update and rename maven.yml to user-java-ci.yml
  .github/workflows/user-java-ci.yml
Owners: none

Update user-java-cd.yml
  .github/workflows/user-java-cd.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @jukkats

Update user-java-cd.yml
  .github/workflows/user-java-cd.yml
Owners: none

Updated yml files
  .github/workflows/poi-cd.yml
  .github/workflows/poi-ci.yml
  .github/workflows/trips-cd.yml
  .github/workflows/trips-ci.yml
  .github/workflows/useprofile-ci.yml
  .github/workflows/userprofile-cd.yml
  apis/poi/web/Dockerfile
Owners: @Mintio

Update README.md
  apis/userprofile/README.md
Owners: @NikoLams

Update poi-ci.yml
  .github/workflows/poi-ci.yml
Owners: none

Update poi-cd.yml
  .github/workflows/poi-cd.yml
Owners: none

CODEOWNERS:

# In this example, any change inside the `/apps` directory
# will require approval from @doctocat.
/apis/poi/ @Mintio
/apis/trips/ @juhalehtela
/apis/user-java/ @jukkats
/apis/userprofile/ @NikoLams
